* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2d3436;
  background: url("./images/car_brands/bckg-1.png"), linear-gradient(30deg, #0f0f0f 0%, rgb(15, 15, 15) 100%);
}

.mainSectionTitle {
  font-family: "Russo One";
  text-align: center;
  border-bottom: 5px solid #a00000;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 500;
}

.heroWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.heroContent {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.heroInfoContent,
.heroImgContent {
  width: 100%;
  height: 100%;
  padding: 5rem 0.5rem;
}
.heroInfoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  grid-column: 1 / 1;
}

.heroImgContent {
  margin: 0 auto;
  position: relative;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroImg {
  width: 100%;
  height: 100%;
  z-index: 9;
  position: relative;
  object-fit: contain;
  max-width: 530px;
}
.heroImgContent::before {
  content: "01";
  position: absolute;
  top: 0rem;
  right: 1rem;
  z-index: 9;
  font-size: 3rem;
  font-family: "Orbitron";
  color: #fff;
}
.heroImgContent::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(115deg, #a00000, #c62128);
  z-index: 0;
}
.heroTitle {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Russo One";
  color: #fff;
}
.heroTitle--border {
  border-bottom: 5px solid #a00000;
}
.heroDesc {
  font-family: "Nunito";
  color: #fff;
  font-weight: 600;
}
.heroButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}
.heroFileButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-family: "Russo One";
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(115deg, #a00000, #c62128);
  border-radius: 0.5rem;
}
.heroButton {
  font-family: "Russo One";
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #a00000;
}

@media (max-width: 768px) {
  .heroContent {
    display: flex;
    flex-direction: column;
  }
  .heroImgContent {
    display: none;
  }
  .heroImgContent::after {
    width: 100%;
  }
  .heroInfoContent {
    order: 1;
  }
}

/*? Car Brand */
.carBrandContent {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(69, 69, 75, 0.25) 50%, rgba(0, 0, 0, 0.25) 100%);
}
.carBrandSlider {
  max-width: 100%;
  border-left: none;
  border-right: none;
  margin: 0rem auto 2rem;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__pagination {
  bottom: -0em;
  display: none;
}
.carBrandImgContent {
  max-width: 6rem;
}
.carBrandImg {
  width: 100%;
}

/*? Service Cards */
.serviceCardContent {
  margin: 3rem auto;
  max-width: 1200px;
}
.serviceCardContent .mainSectionTitle {
  margin-bottom: 1.5rem;
}
.serviceCards {
  padding: 0 1rem;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.serviceCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 400px;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(21, 21, 21) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 5px 0px;
}
.serviceCardImgContent {
  min-width: 160px;
}
.serviceCardImg {
  max-height: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0.25rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.serviceCardInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 0.25rem;
}
.serviceCardFlex {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  justify-items: center;
  align-items: center;
  justify-content: flex-start;
}
.serviceCards,
.serviceCardSideImgContent {
  width: 100%;
}
.serviceCardSideImgContent {
  max-width: 400px;
  border-radius: 0.25rem;
}
.serviceCardSideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  display: flex;
  box-shadow: 5px 5px rgba(160, 0, 0, 0.5);
}

.serviceCardDesc,
.serviceCardButton {
  font-family: "Nunito";
}
.serviceCardTitle {
  font-size: 1.05rem;
  color: #fff;
  font-weight: 400;
  font-family: "Russo One";
  border-bottom: 2px solid #a00;
}
.serviceCardDesc {
  font-size: 0.85rem;
  color: #fff;
  font-weight: 600;
}
.serviceCardButton {
  text-decoration: none;
  color: #fff;
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}
.serviceCardContent .splide__pagination {
  bottom: -1.5rem;
}

@media (max-width: 1100px) {
  .serviceCardFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .serviceCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

/*? Steps */
.stepsContent {
  max-width: 1250px;
  margin: 3rem auto 3rem;
}
.stepsContent .mainSectionTitle {
  margin-bottom: 1.5rem;
}
.stepsBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.stepsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepsBoxImgContent {
  max-width: 150px;
  position: relative;
}
.stepsBoxImgContent::after {
  content: "";
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(115deg, #a00000, #c62128);
  position: absolute;
  top: 48.5%;
  left: 95%;
  transform: translate(0%, -50%);
  z-index: -1;
}
.stepsBox:last-child .stepsBoxImgContent::after {
  display: none;
}
.stepsBoxImg {
  width: 100%;
}
.stepsBoxTitle,
.stepsBoxDesc {
  font-family: "Nunito";
  text-align: center;
  color: #fff;
  max-width: 245px;
}
@media (max-width: 768px) {
  .stepsBoxes {
    flex-direction: column;
  }
  .stepsBoxImgContent::after {
    display: none;
  }
}

/*? Blog Cards */

.blogCardContent {
  max-width: 1200px;
  margin: 3rem auto 3rem;
}
.blogCardContent .mainSectionTitle {
  margin-bottom: 1.5rem;
}

.blogCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}
.blogCard {
  max-width: 290px;
  min-width: 290px;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: radial-gradient(circle at 24.1% 68.8%, rgba(50, 50, 50, 0.75) 0%, rgba(0, 0, 0, 0.75) 99.4%);
  min-height: 23rem;
  box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 10px 0px;
}

.blogCardTitle {
  font-family: "Russo One";
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  text-align: left;
  margin-right: auto;
}
.blogCardDesc {
  color: #ccc;
  font-family: "Nunito";
  font-size: 0.85rem;
  margin-bottom: auto;
}
.blogCardImgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.blogCardImg {
  display: flex;
  border-radius: 0.25rem;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}
.blogCardButton {
  display: inline-block;
  margin-right: auto;
  color: #fff;
  font-family: "Nunito";
  text-decoration: none;
  font-size: 0.95rem;
  background-color: #a00000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.35rem;
  border-radius: 0.25rem;
}

/*! Service Page */
.pageHeroContent {
  background: url(./images/servicesPage/page_hero_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 325px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid #fff;
}
.pageHeroImg {
  width: 100%;
}
.servicePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.servicePageBoxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 1rem;
  margin: 0rem auto 1rem;
}
.servicePageBoxImgContent {
  max-width: 3rem;
}
.servicePageBoxImg {
  width: 100%;
}

.servicePageBoxTitle {
  display: inline-block;
}
.servicePageBoxTitle,
.pageMainTitle {
  font-family: "Russo One";
  color: #a00000;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}
.pageMainTitle {
  font-size: 5rem;
  margin-top: 2rem;
  color: #fff;
  margin-top: auto;
  border-bottom: none;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.servicePageBoxDesc {
  font-family: "Nunito";
  color: #fff;
  font-size: 0.9rem;
}
.servicePageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 300px;
  box-shadow: inset 0 -20px 80px -20px #ffffff1f;
  padding: 1rem;
  transition: all 0.5s;
  border: 1px solid #ffffff1f;
}
.servicePageBox:hover {
  border: 1px solid #a00;
}
.servicePageButtonContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}
.servicePageButtonImgContent {
  max-width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicePageButtonLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicePageButtonImg {
  width: 100%;
}
.servicePageButtonText {
  color: #fff;
  text-decoration: none;
  font-family: "Nunito";
}

@media (max-width: 600px) {
  .servicePage .pageMainTitle {
    font-size: 2rem;
    text-align: center;
  }
  .servicePage .pageHeroContent {
    height: 125px;
  }
  .aboutTitle {
    font-size: 1.5rem;
  }
}

.serviceIntroContent {
  font-family: "Nunito";
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}
.serviceIntroInfoContent {
  padding-left: 2rem;
}
.serviceIntroInfoRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 1rem 0;
}
.serviceIntroInfoRowImgContent {
  max-width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceIntroInfoRowImg {
  width: 100%;
}
.serviceIntroInfoRowDesc {
  color: #fff;
}
.serviceIntroInfoRowMiniTitle {
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.serviceIntroInfoRowMiniTitle,
.serviceIntroMainTitle {
  color: #a00;
}
.serviceIntroMainTitle {
  font-family: "Russo One";
  font-weight: 500 !important;
  font-size: 1.7rem;
}
.serviceIntroImgContent {
  text-align: center;
  max-width: 400px;
}
.serviceIntroImg {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px rgba(160, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

/*! Service Details Page */
.serviceLeftMenuList,
.serviceLeftMenuContent {
  width: 100%;
}
.serviceLeftMenuListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Nunito";
  gap: 0.5rem;
  background-color: rgba(117, 131, 147, 0.1);
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
}
.serviceLeftMenuListItem.active {
  background: rgba(170, 0, 0, 0.25);
  border: 2px solid rgba(117, 131, 147, 0.1);
}
.serviceLeftMenuLink {
  color: #fff;
  text-decoration: none;
}
.serviceLeftMenuImgContent {
  max-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceLeftMenuImg {
  width: 100%;
}
.serviceDetailsContent {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  justify-content: center;
  justify-items: flex-start;
  align-items: flex-start;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.serviceDetailsDescContent {
  margin-top: 1rem;
  background-color: rgba(117, 131, 147, 0.1);
  padding: 1rem;
  border-radius: 0.25rem;
}
.serviceDetailsDescTitle {
  font-family: "Russo One";
  border-bottom: 2px solid #fff;
  color: #a00;
  font-weight: 500;
  font-size: 2rem;
}
.serviceDetailsDesc {
  font-family: "Nunito";
  color: #fff;
  padding: 0.5rem 0;
}
.serviceDetailsDescImgContent {
  border-radius: 0.25rem;
}
.serviceDetailsDescImg {
  border-radius: 0.25rem;
  width: 100%;
  border: 2px solid rgba(117, 131, 147, 0.1);
}

@media (max-width: 768px) {
  .serviceDetailsContent {
    display: flex;
    flex-direction: column;
  }
  .serviceLeftMenuContent {
    order: 1;
    margin-bottom: 1rem;
  }
  .serviceLeftMenuList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .serviceLeftMenuListItem {
    margin: 0;
  }
  .serviceDetailsDescContent {
    margin-top: 0rem;
  }
}

/*? About Us Page */

.overviewContent {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.overviewImgContent {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overviewImg {
  width: 100%;
  display: flex;
}
.overviewImgSide,
.overviewContentSide {
  width: 100%;
}

.aboutTitleContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.aboutTitle {
  font-family: "Russo One";
  color: #a00000;
  font-weight: 400;
  font-size: 2rem;
  border-bottom: 2px solid #fff;
}
.overviewDesc,
.featuresBoxTitle {
  color: #fff;
  font-family: "Nunito";
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.featuresWrapper {
  background: url(./images/about_us_page/about_features_background.jpg) center no-repeat;
  background-size: cover;
  min-height: 400px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuresContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}
.featuresInfoContent,
.featuresBoxSide {
  width: 100%;
}
.aboutTitleImgContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutTitleImg {
  width: 100%;
  height: 100%;
}
.featuresContent .aboutTitle,
.featuresContent .aboutBigTitle {
  color: #fff;
  font-family: "Russo One";
  font-weight: 400;
  font-size: 1.5rem;
}
.featuresContent .aboutBigTitle {
  font-size: 2rem;
}
.featuresBoxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.featuresBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  min-height: 200px;
  width: 180px;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.25);
}
.aboutButton {
  color: #fff;
  font-family: "Nunito";
  text-decoration: none;
  display: inline-block;
  border: 2px solid #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.faqContent {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  gap: 1rem;
}
.faqAccordionSide,
.faqImgSide {
  width: 100%;
}
.faqImgSide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqImgContent {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqImg {
  width: 100%;
  display: flex;
}
.faqTitle {
  font-size: 2rem;
}
.faqAccordionQuestion,
.faqAccordionAnswer,
.faqTitle {
  font-family: "Nunito";
  color: #fff;
}
.faqAccordionQuestion {
  font-size: 1.25rem;
  border-bottom: 2px solid #a00;
  width: fit-content;
}
.faqAccordionContent {
  margin: 1rem 0;
  padding-left: 1rem;
  position: relative;
}
.faqAccordionContent::before {
  content: "";
  background-color: #a00;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .overviewContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .overviewImgSide {
    order: 1;
  }
  .overviewImgSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .aboutBigTitle {
    font-size: 1.5rem;
    text-align: center;
  }
  .featuresContent {
    flex-direction: column;
  }
  .featuresInfoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .featuresBoxes {
    flex-wrap: wrap;
  }
  .faqContent {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .pageMainTitle {
    font-size: 3rem;
  }
  .pageHeroContent {
    height: 125px;
  }
  .aboutTitle {
    font-size: 1.5rem;
  }
}

/*! Tuning Pages */

.tuningContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
.tuningImgContent {
  max-width: 500px;
}
.tuningImg {
  width: 100%;
}
.tuningInfoRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 0.5rem;
}
.tuningInfoTitle {
  color: #a00;
  font-family: "Nunito";
  border-bottom: 2px solid #fff;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.tuningInfoDesc {
  font-family: "Nunito";
  color: #fff;
}
.tuningInfoButton {
  background: #a00;
  padding: 0.65rem 2.5rem;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-family: "Nunito";
  clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  transition: clip-path 0.25s, background-color 0.25s;
}
.tuningInfoButton:hover {
  background: rgb(214, 0, 0);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), 100% 100%, 0 100%, 0 15px);
}

.sectionDivideContent {
  background: url(./images/tuningPage/tuning_contact_background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: 300px;
  margin: 2rem 0;
  position: relative;
  margin-bottom: 4rem;
}
.contactBox {
  background-color: #0f0f0f;
  box-shadow: 5px 5px #a00;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  max-width: 600px;
  min-height: 200px;
  position: absolute;
  bottom: -9rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
}
.contactBoxTitle {
  font-family: "Russo One";
  color: #a00;
  font-weight: 500 !important;
  font-size: 1.75rem;
}
.contactBoxDesc {
  font-family: "Nunito";
  color: #fff;
}

.tuningBrandContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tuningBrandBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.tuningBrandTitle {
  color: #a00;
  font-family: "Russo One";
  font-weight: 500;
  font-size: 2rem;
  border-bottom: 2px solid #fff;
  display: inline-block;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}
.tuningBrandBoxImgContent {
  max-width: 10rem;
  background-color: #0f0f0f;
  box-shadow: 5px 5px #a00;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #a00;
  border-left: 1px solid #a00;
}
.tuningBrandBoxImg {
  width: 100%;
}

@media (max-width: 935px) {
  .tuningContent {
    grid-template-columns: 1fr;
  }
  .contactBox {
    min-width: 400px;
  }
  .contactBoxTitle {
    font-size: 1.25rem;
  }
}
@media (max-width: 435px) {
  .contactBox {
    min-width: unset;
    width: 90%;
  }

  .tuningInfoRow {
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
  }
  .tuningBrandTitle {
    font-size: 1.5rem;
  }
  .tuningInfoContent,
  .tuningInfoTitle {
    text-align: center;
  }
  .sectionDivideContent {
    margin-top: 0rem;
  }
}

/*! New Services */

.serviceBoxContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
.serviceBoxContent .splide__slide {
  padding: 1rem 0;
}
.splide__arrow--prev,
.splide__arrow--next {
  top: 6rem;
  left: 1rem;
  background-color: #a00;
}
.splide__arrow--prev svg,
.splide__arrow--next svg {
  fill: #fff;
}
.splide__arrow--next {
  left: 3rem;
}
.homeServiceSlider {
  position: unset;
}
.tuningSubTitle,
.tuningMainTitle {
  text-align: right;
}

.serviceBoxSliderUpperContent {
  padding: 0.25rem 0 1.5rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.serviceBoxSliderUpperContent::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, red);
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.serviceBoxSliderButton {
  font-size: 1.2rem;
  font-family: "Nunito";
  color: #fff;
  text-align: right;
}

.tuningSubTitle {
  color: #a00000;
  font-size: 1.25rem;
  font-family: "Nunito";
}
.tuningMainTitle {
  color: #fff;
  font-size: 2rem;
  font-family: "Russo One";
  font-weight: 400;
}
.serviceBoxLink {
  display: block;
  border-radius: 1rem;
  max-height: 380px;
  overflow: hidden;
}
.serviceBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.serviceBox {
  position: relative;
  box-shadow: rgba(160, 0, 0, 0.5) 1px 1px 1px;
  border: 1px solid #000;
  border-radius: 1rem;
  transition: transform 0.5s;
}
.serviceBox:hover {
  transform: translateY(1rem);
}
.serviceBoxImg {
  width: 100%;
  border-radius: 1rem;
  display: flex;
}

.serviceBoxLink::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 50%, #000);
  z-index: 0;
  border-radius: 1rem;
  display: flex;
}
.serviceBoxInfoContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 1;
}
.serviceBoxInfoNumber {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Nunito";
  padding-top: 0.1rem;
  color: #a00000;
  background-color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.serviceBoxInfoDesc {
  font-size: 1.5rem;
  font-family: "Nunito";
  color: #fff;
  font-weight: bold;
  border-left: 2px solid #a00000;
  padding-left: 0.5rem;
}

/*! New Why Us */
.whyUsWrapper {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.whyUsWrapper .tuningTitleContent {
  position: relative;
}
.whyUsWrapper .tuningSubTitle,
.whyUsWrapper .tuningMainTitle {
  text-align: left;
}
.whyUsWrapper .tuningTitleContent::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(90deg, red 10%, rgba(255, 255, 255, 0));
  position: absolute;
  bottom: 0rem;
  right: 0;
}
.whyUsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.whyUsImgSide,
.whyUsInfoSide {
  width: 100%;
}
.whyUsImgContent {
  max-width: 600px;
  margin: 0 auto;
}

.whyUsImg {
  width: 100%;
  height: 100%;
}
.whyUsInfoSide {
  padding-top: 1rem;
}
.whyUsInfoDesc {
  color: #fff;
  font-family: "Nunito";
}

.whyUsIconContent {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.whyUsIconBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.whyUsIconImgContent {
  background-color: #a00;
  max-width: 64px;
  min-width: 64px;
  max-height: 64px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
}
.whyUsIconImg {
  width: 100%;
  display: flex;
}
.whyUsIconBoxInfoTitle,
.whyUsIconBoxInfoDesc {
  color: #fff;
  font-family: "Nunito";
}

@media (max-width: 1000px) {
  .whyUsContent {
    grid-template-columns: 1fr;
  }
}
